.image123 {
    flex: 1;
    width: 500px;
    border: solid 3px #FFFFFF;
    border-radius: 3px;
    /* padding-bottom: 10px; */
}

.image123:hover {
    border: solid 3px #0E0063;
    border-radius: 3px; 
    cursor: pointer; 
}

.container {
    display: flex;
    flex-direction: row;
    /* border: solid 1px blue; */
    margin-right: 50px;
    margin-top: 50px;
    padding: 10px
}

.img_container {
    flex: 1;
}
    